{% extends 'cricapp/base.html' %}
{% block body_block %}
{% load static %}
{% block title %}<title>About Us - CricStore</title>{% endblock %}
    <link  href="{% static '/css/custom.css' %}" rel="stylesheet" >
<div class="container-fluid content-box">
    <section id="founders">
        <h2 align="center">Meet Our Founder</h2>
        <div class="founders" >
            <div class="founder">
                <img src="{% static '/images/profile.jpg' %}" alt="Founder 1">
                <h3>Divya Teja Venkat Kaliboyina</h3>
            </div>
        </div>
    </section>

    <div class="container-fluid">
        <section id="about-us" >
            <h1 style="color: #006600;text-align:left;" >About Us</h1>
            <p style="color: black">Welcome to CricStore, your premier destination for top-quality cricket gear in the World. At CricStore, we are more than just a cricket equipment supplier; we are a community of passionate cricket enthusiasts committed to bringing the best of the cricket world to your doorstep. Our mission is to make high-quality cricket goods accessible to everyone in the World., ensuring that players of all levels, from budding cricketers to seasoned professionals, have the gear they need to excel in their game.</p>
        </section>

        <section id="our-story" >
            <h2 style="color: #006600;">Our Story</h2>
            <p style="color: black">CricStore was founded with a simple yet ambitious goal: to fuel the passion for cricket in the World by providing a one-stop-shop for all cricket-related needs. We understand the challenges faced by cricket enthusiasts in finding high-quality equipment and gear in the world. and have taken it upon ourselves to address this gap. Our store features a wide range of products from the world’s leading cricket brands, ensuring that we offer only the best to our customers.</p>
        </section>

        <section id="our-vision" >
            <h2 style="color: #006600;">Our Vision</h2>
            <p style="color: black">"To be the leading cricket goods supplier in the World, inspiring and supporting the growth of cricket by making the sport more accessible to everyone."</p>
        </section>

        <section id="our-mission" >
            <h2 style="color: #006600;">Our Mission</h2>
            <p style="color: black">Our mission is to empower cricketers across the World by delivering top-quality cricket goods right to their doorsteps. We are dedicated to promoting the spirit of cricket by ensuring that players, clubs, and teams have access to the best equipment that meets their needs and aspirations.</p>
        </section>

        <section id="our-values" >
            <h2 style="color: #006600;">Our Values</h2>

                <p style="color: black">Quality: We believe in offering products that meet the highest standards of quality and durability, ensuring that you get the best value for your investment.</p>
                <p style="color: black">Passion: Our love for cricket drives us to go the extra mile for our customers, providing not just products but also advice, support, and encouragement to cricket enthusiasts of all ages.</p>
                <p style="color: black">Accessibility: We strive to make cricket more accessible in the World. by offering a wide range of products at competitive prices, catering to the needs of players at all levels.</p>
                <p style="color: black">Community: CricStore is committed to building a vibrant community of cricket lovers. We support local teams, organize events, and work closely with clubs to promote the sport across the country.</p>

        </section>

        <section id="our-slogan">
            <h2 style="color: #006600;">Our Slogan</h2>
            <p style="color: black">"Gear Up for Glory at Cric Store - Where Cricket Dreams Take Flight!" This slogan encapsulates our commitment to providing our customers with the tools they need to achieve their cricketing dreams. Whether you are just starting your journey in cricket or looking to reach new heights in the sport, CricStore is here to support you every step of the way.</p>
        </section>

        <section id="join-us">
            <h2 style="color: #006600;">Join Us</h2>
            <p style="color: black">Be part of our journey to bring the best of cricket to the World. Explore our extensive collection of cricket gear, designed to meet your needs and exceed your expectations. At CricStore, we are not just selling cricket equipment; we are helping to build the future of cricket in the World.</p>
            <p style="color: black">Thank you for choosing CricStore. Gear up for glory with us, and let your cricket dreams take flight!</p>
        </section>


    </div>

</div>
{% endblock %}
